body {
    margin-top: 60px;
    margin-bottom: 80px;
}

.jumbotron {
    background: none;
}


footer {
    position: fixed;
    bottom: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #b0dea3;
}
/*#a3dec4 #cddea3*/
video {
    width: 100%;
    height: 100%;
}
