@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    50571 3rd Street 1<br />
    Hancock, MI 49930<br />
    <abbr title="Email">Email:</abbr>
    tea@dedogs.com
</address>